.banner-bg {
  background-image: url("../img/svg-ref/baner-1-conceptdry.png");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.primary-color-bg {
  background: var(--primary-color);
  color: var(--white-color);
}

.blue-pg-color-bg {
  background-image: url("../img/svg-ref/Prancheta\ 1\ copiar\ 6.png");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 16rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.img-logo {
  padding-top: 2rem;
  max-width: 200px;
  height: auto;
}
